{% extends "base.html" %}

{% block content %}
<h1>CTMO Transient Classifier</h1>

<form id="upload-file" method="post" enctype="multipart/form-data" action="/predict" onsubmit="uploadImage(event)">
    <div class="form-group">
        <label for="imageUpload" class="upload-label">
            Choose...
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg, .fits, .fit, .npy">
    </div>
</form>

<button type="button" class="btn btn-warning btn-lg " id="btn-predict">Predict!</button>

<div class="loader" style="display:none;"></div>

<h3 id="result"> 
    <span> </span>
</h3>

<div id="image-container">
    <div class="image-wrapper">

    </div>
    <!-- Images will be appended here by JavaScript -->
</div>
 
    
{% endblock %}


